header {
    text-align: center;
}

.Producto {
    background-color: pink;
    text-align: center;
    width: 30%;
    margin: auto;   
}

.button {
    text-align: center;
}

button {
    padding: 10px 10px;
    background-color: burlywood;
    font: bold sans-serif;
}